.container {
  max-width:100vw;
  max-height: 100vh;
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
