.container {
  background: linear-gradient(rgba(5, 7, 1, 0.75), rgba(5, 7, 12, 0.75)),
    url("../../assets/cardsFondo.avif");

  width: 12em;
  height: 15em;
  border: 5px solid #c2fe2a;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px 15px 10px 0;
  padding-bottom: 0;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
  color: #999999;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1px;
}
.close {
  cursor: pointer;
  border: 1px solid #c2fe2a;
  border-radius: 5%;
  font-weight: bold;
  background-color: #c2fe2a;
  width: 2em;
  height: 2em;
}
.close:hover {
  color: #fff;
}
.id {
  font-family: "Bebas Neue";
  border: 1px solid #00e728;
  background: linear-gradient(180deg, #00e728 0%, #1c8b2f 100%);
  transition: all 0.3s;
  width: 1.5em;
  height: 1.2em;
  text-align: center;
  border-radius: 5%;
  margin: 10px 1px 2px 5px;
}

.center {
  display: grid;
  grid-template-rows: auto auto;
  padding: 10px;
}
.image {
  justify-self: center;
  border-radius: 50%;
  border: 5px solid #000;
  width: 50%;
}
.image:hover {
  transform: scale(1.1);
  border: 5px solid #000;
}
.containerName {
  justify-self: center;
  padding: 0;
}
.name {
  font-family: "Bebas Neue";
  color: #fff;
  font-size: 1em;
  padding: 10px 0;
}

.accions {
  display: flex;
  justify-content: space-between;
  background-color: #c2fe2a;
  padding: 5%;
}

.btn {
  color: #000;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  width: 2em;
  height: 2em;
}
.detail {
  background: linear-gradient(180deg, #ffcc00 0%, #cca300 100%);
  transition: all 0.3s;
  cursor: pointer;
  width: 2em;
  height: 2em;
}
.detail:hover {
  background: linear-gradient(180deg, #cca300 0%, #ffcc00 100%);
  transition: all 0.3s;
  cursor: pointer;
}
