.btnSearch {
  background-color: #04698a;
  border-radius: 5%;
  font-size: 1.2em
}
.btnSearch:hover{
  background-color: #00bfff
}
.containerSearch {
  grid-area: containerSearch;
}
.inputSearch {
  font-size: 1.2em;
  border-style: none;
  border: 1px solid #727778;
}
