.btnSearch{
    margin-top: 2%;
    background-color: #00bfff;
    border-radius: 5%;
    font-size: medium;
}
.containerSearch{
    grid-area: containerSearch;
   /* background-color: #002266;
   height: 50px;
   margin-bottom: 20px; */
} 
.inputSearch{
    margin-top: 2%;
    border-radius: 5%;
}

  
  