.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #fff;
  /* height: 50px; */
  margin: 0 auto;
  margin-bottom: 2%;
  width: 100%;
  height: auto;
  /* border-radius: 2% 4%; */
}
.btnRandom {
    grid-area: btnRandom;
    background-color: #00bfff;
    border-radius: 5%;
    font-size: medium;
    margin-top: 2%;
    color: #000;
}
.contentOne {
  display: flex;
  justify-content: flex-start;
  width: 100%;
 opacity: 0;
}
.contentTwo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-weight: bold;
}
.btn {
  margin: 0 10px;
  color: #000;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  font-family: "Bebas Neue";
}
